body{
  background-image: url('./media/pexels-cottonbro-3943743.jpg');
  background-size: cover;
}
.App {
  text-align: center;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.flags{
  width: 25px;
  margin-right: 10px;
}
.logo{
  margin-top: -256px;
}
h3{
  font-family: 'Acme', sans-serif;
  display: inline;
  float: left;
  margin-bottom: 2px;
  margin-left: 15px;
  /* font-size:5vw; */
}
.responsive {
  max-width:100%;
  display:block;
  height:auto;
  margin: 0 auto;
}
.p{
  display: inline-block;
  margin: 0;
}
.arrow{
  max-width: 40px;
  margin-bottom: -28px;
  margin-left: 5px;
  margin-right: -5px;
}
@font-face {
  font-family: "number";
  src: local('./media/Crashnumberingserif-KVjW.ttf'),
    url("./media/Crashnumberingserif-KVjW.ttf") format("truetype");
  font-weight: normal;
}
.span{
  font-family: "number";
  color: #a7a7a7;
}
span{
  font-size: 25px;

}
@font-face {
  font-family: "pocus";
  src: local('./media/PocusPrimera400Condensed-lg58e.ttf'),
    url("./media/PocusPrimera400Condensed-lg58e.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Landasans";
  src: local('./media/LandasansMedium-ALJ6m.ttf'),
    url("./media/LandasansMedium-ALJ6m.ttf") format("truetype");
  font-weight: normal;
}
.list{
  font-family: "pocus";
  font-size: 25px;
}
h1{
  font-family: "Landasans";
  font-size: 60px;
  margin: 0;
  margin-top: 10px;
}